.loader {
  width: 48px;
  height: 48px;
  margin: 32px auto;
  border: 5px solid #ccc;
  border-top-color: #1e90ff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  visibility: hidden;
}

.loader.show {
  visibility: visible;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
